# Directories
/.wordpress-org export-ignore
/.github export-ignore
/node_modules export-ignore
/src export-ignore


# Files
/.browserlistrc export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/CHANGELOG.txt export-ignore
/composer.json
/composer.lock
/Gruntfile.js export-ignore
/LICENSE
/package-lock.json
/package.json
/phpcs.xml
/README.md export-ignore