/**
 * W4 Post List
 * Admin CSS
**/

a.subbutton.button, a.subbutton.button{
	padding: 3px 5px 4px;
	height:20px;
	line-height:12px;
	margin:2px 0;
}
#titlediv{
	margin-bottom:30px;
}
#w4pl_list_options{
	position:relative;
	font-size:13px;
	line-height:normal;
	background-color:#f5f5f5;
	border:1px solid #ddd;
}
table.widefat{
	background-color:#FFF;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.04);
	border:1px solid #e5e5e5;
	border-spacing:0px;
	width:100%;
	clear:both;
}
table.widefat th{
	font-size:11px;
	padding:8px 10px;
	font-weight:400;
}
table.widefat td{
	font-size:11px;
	padding:8px 10px;
}
table.widefat thead th{
border-bottom:1px solid #e1e1e1;
}
#w4pl_list_options code{
	border: 1px solid #d1e5ee;
	color: #666;
	padding: 1px 5px;
	font-size:12px;
}
#w4pl_template, #w4pl_css, #w4pl_js{
	height:350px;
	font-size:14px;
	line-height:18px;
	color:#666;
	width:100%;
	box-sizing:border-box;
}
#w4pl_js{
	height:150px;
}
#w4pl_template_examples{
	font-size:12px;
	color:#999999;
}
#shortcode_hint_toggle{
	position:relative;margin:10px 0;float:left;clear:left;
}
#w4pl_post_type_options{
	position:relative;
}
#w4pl_post_type_options:after{
	width:30px;
	height:30px;
	display:block;
	background:url(images/loading.gif) no-repeat;
}
#w4pl_template_buttons a{
	padding:4px 8px;
	display:inline-block;
	border:1px solid #DDD;
	background-color:#EEE;
	line-height:12px;
	font-size:12px;
	margin:0 2px 2px 0;
	text-decoration:none;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#0074a2;
}
.w4pl_button_group{
	padding:0 0 10px;
}
.w4pl_button_group_title{
	display:block;
}
.wffw{
	margin:0;
	overflow:hidden;
	padding-top:30px;
	padding-bottom:30px;
	border-width: 0 0 1px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color:transparent;
	border-bottom:1px solid #f3f3f3;
}
.w4pl_group_fields_wrap .wffw:first-child{
	border-top:none;
	padding-top:8px;
}
.w4pl_group_fields_wrap .wffw:last-child{
	border-bottom:none;
	padding-bottom:8px;
}
.wfflw, .wffdw {
	width:130px;float:left;clear:left;
}
.wffdw2{
	margin-top:10px;
	margin-bottom:0;
}
.wffew {
	margin-left:150px;
}
.wffl{
	font-size:13px;
}
.wfflwi_w4pl_template, .wffdwi_w4pl_css, .wffdwi_w4pl_js{
	float:none !important;
	width:auto;
}
.wffewi_w4pl_css, .wffewi_w4pl_js{
	margin-left:0;
}
.wffewi_w4pl_list_type label, .wffwi_w4pl_terms_taxonomy label{
	display:block}
.wffewi_w4pl_list_type label small{
	color:#999;
	text-transform:uppercase;
	font-weight:bold;
}
.w4pl_group_title{
	margin:0;

	width:17%;

	font-size:13px;
	padding:13px;
	border-bottom:1px solid #e2dddb;
	border-right:1px solid #e2dddb;
	box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
	font-weight:normal;
	cursor:pointer;
}
.w4pl_field_group:last-child .w4pl_group_title{
	border-bottom:1px solid #D1E5EE;
}
.w4pl_field_group{
}
.w4pl_group_fields{
	display:none;

	position:absolute;

	left:17%;
	top:0;

	width:83%;
}
.w4pl_group_fields_wrap{
	padding:30px;
	background-color:#fff;
}
.w4pl_active .w4pl_group_fields{
	display:block;
}
.w4pl_active .w4pl_group_title, .w4pl_group_title:hover{

	background-color:#fff;
	border-right-color:#fff;
	box-shadow:0 0 1px #666 inset;
}
#w4pl_lo{
width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url(<?php echo admin_url('images/spinner.gif');
	?>) no-repeat center rgba(255,255,255,0.5);
}
body.rtl .w4pl_group_fields{
	left:0;
}
body.rtl .wffew{
	margin-left:0;
	margin-right:220px;
}
body.rtl .wfflw, body.rtl .wffdw{
	float:right;
	clear:right;
}
body.rtl .wffewi_w4pl_css, .wffewi_w4pl_js{
	margin-right:0 !important;
}
table.wff_clone_table td,
table.wff_clone_table th{
	padding-right:0;
}
table.wff_clone_table td:last-child,
table.wff_clone_table th:last-child{
	padding-right:5px;
}
#w4pl_date_query_table .column,
#w4pl_date_query_table .key,
#w4pl_date_query_table .compare,
#w4pl_date_query_table select{
	width:100px;
}
