/*
 * Admin doc styles
 *
 * @package W4_Post_List
 */
.w4pl-documentation-wrap h1 {
  margin: 0.2em 200px 0 0;
  padding: 0;
  color: #32373c;
  line-height: 1.2em;
  font-size: 2.8em;
  font-weight: 400;
}
.w4pl-documentation-wrap h2 {
  margin: 1.25em 0 0.6em;
  margin-top: 1.25em;
  font-size: 2em;
  line-height: 1.5;
}
.w4pl-documentation-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.w4pl-documentation-content {
  width: 65%;
}
.w4pl-documentation-sidebar {
  width: 30%;
}
#wpbody code {
  background: none;
  font-size: 12px;
}
pre {
  padding: 10px;
  border: 1px solid #DDD;
  background-color: #fff;
}
pre code {
  padding-left: 0;
}
.has-right-sidebar #post-body-content {
  margin-right: 320px;
}
.inner-sidebar {
  width: 301px;
}
.w4pl-template-tags {
  background-color: #fff;
}
.w4pl-template-tags th,
.w4pl-template-tags td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D3D3D3;
}
.w4pl-template-tags .col-description {
  text-align: left;
  padding-left: 10px;
}
.w4pl-template-tags .col-name {
  width: 100px;
  text-align: right;
  padding-right: 10px;
}
