/**
 * List editor styles
 *
 * @package W4_Post_List
**/
a.subbutton.button,
a.subbutton.button {
  padding: 3px 5px 4px;
  height: 20px;
  line-height: 12px;
  margin: 2px 0;
}
#titlediv {
  margin-bottom: 30px;
}
#w4pl_list_options {
  position: relative;
  font-size: 13px;
  line-height: normal;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}
table.widefat {
  background-color: #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  border-spacing: 0px;
  width: 100%;
  clear: both;
}
table.widefat th {
  font-size: 11px;
  padding: 8px 10px;
  font-weight: 400;
}
table.widefat td {
  font-size: 11px;
  padding: 8px 10px;
}
table.widefat thead th {
  border-bottom: 1px solid #e1e1e1;
}
#w4pl_list_options code {
  border: 1px solid #d1e5ee;
  color: #666;
  padding: 1px 5px;
  font-size: 12px;
}
#w4pl_template,
#w4pl_css,
#w4pl_js {
  height: 350px;
  font-size: 14px;
  line-height: 18px;
  color: #666;
  width: 100%;
  box-sizing: border-box;
}
#w4pl_js {
  height: 150px;
}
#w4pl_template_examples {
  font-size: 12px;
  color: #999999;
}
#shortcode_hint_toggle {
  position: relative;
  margin: 10px 0;
  float: left;
  clear: left;
}
#w4pl_post_type_options {
  position: relative;
}
#w4pl_post_type_options:after {
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/loading.gif) no-repeat;
}
#w4pl_template_buttons a {
  padding: 4px 8px;
  display: inline-block;
  border: 1px solid #DDD;
  background-color: #EEE;
  line-height: 12px;
  font-size: 12px;
  margin: 0 2px 2px 0;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #0074a2;
}
.w4pl_button_group {
  padding: 0 0 10px;
}
.w4pl_button_group_title {
  display: block;
}
.wffw {
  margin: 0;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: 1px solid #f3f3f3;
}
.w4pl_group_fields_wrap .wffw:first-child {
  border-top: none;
  padding-top: 8px;
}
.w4pl_group_fields_wrap .wffw:last-child {
  border-bottom: none;
  padding-bottom: 8px;
}
.wfflw,
.wffdw {
  width: 130px;
  float: left;
  clear: left;
}
.wffdw2 {
  margin-top: 10px;
  margin-bottom: 0;
}
.wffew {
  margin-left: 150px;
}
.wffl {
  font-size: 13px;
}
.wfflwi_w4pl_template,
.wffdwi_w4pl_css,
.wffdwi_w4pl_js {
  float: none !important;
  width: auto;
}
.wffewi_w4pl_css,
.wffewi_w4pl_js {
  margin-left: 0;
}
.wffewi_w4pl_list_type label,
.wffwi_w4pl_terms_taxonomy label {
  display: block;
}
.wffewi_w4pl_list_type label small {
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
}
.w4pl_group_title {
  margin: 0;
  width: 17%;
  font-size: 13px;
  padding: 13px;
  border-bottom: 1px solid #e2dddb;
  border-right: 1px solid #e2dddb;
  box-sizing: border-box;
  font-weight: normal;
  cursor: pointer;
}
.w4pl_field_group:last-child .w4pl_group_title {
  border-bottom: 1px solid #D1E5EE;
}
.w4pl_group_fields {
  display: none;
  position: absolute;
  left: 17%;
  top: 0;
  width: 83%;
}
.w4pl_group_fields_wrap {
  padding: 30px;
  background-color: #fff;
}
.w4pl_active .w4pl_group_fields {
  display: block;
}
.w4pl_active .w4pl_group_title,
.w4pl_group_title:hover {
  background-color: #fff;
  border-right-color: #fff;
  box-shadow: 0 0 1px #666 inset;
}
#w4pl_lo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../img/spinner.gif') no-repeat center rgba(255, 255, 255, 0.5);
}
body.rtl .w4pl_group_fields {
  left: 0;
}
body.rtl .wffew {
  margin-left: 0;
  margin-right: 220px;
}
body.rtl .wfflw,
body.rtl .wffdw {
  float: right;
  clear: right;
}
body.rtl .wffewi_w4pl_css,
.wffewi_w4pl_js {
  margin-right: 0 !important;
}
table.wff_clone_table td,
table.wff_clone_table th {
  padding-right: 0;
}
table.wff_clone_table td:last-child,
table.wff_clone_table th:last-child {
  padding-right: 5px;
}
#w4pl_date_query_table .column,
#w4pl_date_query_table .key,
#w4pl_date_query_table .compare,
#w4pl_date_query_table select {
  width: 100px;
}
/* Tax query */
#w4pl_tax_query_table th {
  text-align: left;
  padding-left: 10px;
}
#w4pl_tax_query_table th,
#w4pl_tax_query_table td,
#w4pl_tax_query_table input,
#w4pl_tax_query_table select {
  font-size: 11px;
}
#w4pl_tax_query_table .wfft_select {
  width: 99%;
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  padding: 2px;
}
#w4pl_tax_query_table .wfft_text {
  margin-left: 0px;
  padding: 3px 5px;
  height: auto;
}
#w4pl_tax_query_taxonomy_cell_head,
.w4pl_tax_query_taxonomy_cell {
  width: 130px;
}
#w4pl_tax_query_field_cell_head,
.w4pl_tax_query_field_cell,
#w4pl_tax_query_operator_cell_head,
.w4pl_tax_query_operator_cell {
  width: 60px;
  text-align: left;
  padding-left: 0 !important;
}
#w4pl_tax_query_terms_cell_head,
.w4pl_tax_query_terms_cell {
  width: 160px;
  text-align: left;
  padding-left: 0 !important;
}
.w4pl_tax_query_terms_cell .wfft_text {
  width: 135px;
}
#w4pl_tax_query_action_cell_head,
.w4pl_tax_query_action_cell {
  width: 40px;
  text-align: left;
  padding-left: 0 !important;
}
a.w4pl_tax_query_value_add.button,
a.w4pl_tax_query_value_del.button {
  height: 20px;
  margin: 2px 0;
  line-height: 12px;
  padding: 3px 5px 4px;
}
a.w4pl_tax_query_remove_btn {
  color: #D02A21;
  text-decoration: none;
}
body.rtl #w4pl_tax_query_compare_cell_head,
body.rtl .w4pl_tax_query_compare_cell,
body.rtl .w4pl_tax_query_value_cell,
body.rtl #w4pl_tax_query_table th,
body.rtl .w4pl_tax_query_action_cell {
  text-align: right;
}
/* Meta Query */
#w4pl_meta_query_table th {
  text-align: left;
  font-weight: bold;
}
#w4pl_meta_query_table th,
#w4pl_meta_query_table td,
#w4pl_meta_query_table input,
#w4pl_meta_query_table select {
  font-size: 11px;
}
#w4pl_meta_query_table .wfft_select,
.w4pl_meta_query_key_cell .wfft_text {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  padding: 2px;
  box-sizing: border-box;
}
#w4pl_meta_query_table .wfft_text {
  margin-left: 0px;
  padding: 3px 5px;
  height: auto;
}
#w4pl_meta_query_key_cell_head,
.w4pl_meta_query_key_cell {
  width: 200px;
}
#w4pl_meta_query_compare_cell_head,
.w4pl_meta_query_compare_cell {
  width: 50px;
  padding-left: 0 !important;
  text-align: left;
}
#w4pl_meta_query_value_cell_head,
.w4pl_meta_query_value_cell {
  width: 260px;
  padding-left: 0 !important;
  text-align: left;
}
.w4pl_meta_query_value_cell .wfft_text {
  width: 205px;
}
#w4pl_meta_query_action_cell_head,
.w4pl_meta_query_action_cell {
  width: 40px;
  padding-left: 0 !important;
  text-align: left;
}
a.w4pl_meta_query_value_add.button,
a.w4pl_meta_query_value_del.button {
  padding: 3px 5px 4px;
  height: 20px;
  line-height: 12px;
  margin: 2px 0;
}
a.w4pl_meta_query_remove_btn {
  color: #D02A21;
}
body.rtl #w4pl_meta_query_compare_cell_head,
body.rtl .w4pl_meta_query_compare_cell,
body.rtl .w4pl_meta_query_value_cell,
body.rtl #w4pl_meta_query_table th,
body.rtl .w4pl_meta_query_action_cell {
  text-align: right;
}
#w4pl_css {
  height: 250px;
}
